#!/bin/bash
#SBATCH -J {{job_name}}  
#SBATCH -p {{part_name}} 
{% if nnodes -%}
#SBATCH -N {{ nnodes }}  
#SBATCH -n {{ncores}}
{% if run_limit -%} 
#SBATCH -t {{run_limit}}  

work_path=$PWD

{% for path in job_paths -%}

cd {{path}}
touch __start__
{{sub_run_str}}

touch __ok__
cd ${work_path}

{% endfor %}



         
            
           
     






